.container{
    display: flex;
    width: 100%;
    gap: 20px;
    height: 600px;
    padding: 10px;

}

.videoPlayerDiv{
    width: 50%;
    display: flex;
    position: relative;
    height: 100%;
}

.streamName{
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    font-weight: 600;
    color: #212529;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


@media (max-width: 1000px) {
    .container{
        flex-direction: column;
        align-items: center;
        gap: 100px;
        height: 100%;
    }

    .videoPlayerDiv{
        width: 100%;
        justify-content: center;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .streamName{
        bottom: -50px;
    }
}